//Here I'm making adjustments to the features section which is layed out a bit delicately
@media (max-width: 1380px) {
    .features-wrapper {
        display: block;
    }
    .features-feature {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        p {
            padding-right: 100px;
        }
        &::before {
            top: -70px;
            left: -65px;
            z-index: -10;
        }
        &:nth-child(2n) {
            text-align: right;
            .svg-inline--fa {
                left: calc(100% - 175px);
            }
            p {
                padding-right: 0;
                padding-left: 100px;
            }
        }
    }
    .features-feature:nth-child(2n)::before {
        position: absolute;
        left: calc(100% - 185px);
    }
}

// Now we're hitting the width of the wrapper so I'm re-aligning things a little to get nice consistent margins. Also reflowing the cards and the footer.
@media (max-width: 1230px) {
    nav .wrapper,
    section,
    footer .wrapper,
    .final-footer .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
    .wrapper {
        width: 100%;
    }
    .card {
        width: calc((100% - 30px) / 2);
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    footer {
        .wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .footer-about {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid $darkgray;
        padding-bottom: 50px;
        margin-bottom: 75px;
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
    .footer-courses,
    .footer-contact {
        margin-right: 75px;
        width: calc(25% - 40px);
    }
    .footer-newsletters {
        flex-basis: 350px;
        margin-right: 0;
    }
    .footer-social {
        width: 100%;
        font-size: 24px;
        ul {
            width: 100%;
        }
        svg {
            margin-right: 10px;
        }
    }
}

//adjust news-item image sizes
//drop-down for pricing section with radio buttons
//fix footer
@media (max-width: 1080px) {
    h1 {
        font-size: 60px;
        margin-top: 0px;
    }
    .hero {
        padding: 30px;
    }
    .news-item {
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-left: calc(50% + 30px);
        justify-content: space-around;
        .news-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
        }
        img {
            top: 0;
            left: 0;
            bottom: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .grid-object {
        width: calc(50% - 30px);
        margin-right: 30px;
        justify-content: right;
        &:nth-child(3n) {
            margin-right: 30px;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:hover,
        &:focus {
            transform: scale(1);
        }
    }
    .pricing-wrapper {
        display: block;
        margin-top: 50px;
        position: relative;
    }
    .price {
        height: 130px;
        width: 130px;
        left: 0;
        top: -25px;
        opacity: 0;
    }
    .pricing-card {
        width: 100%;
        text-align: center;
        min-height: 125px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        p {
            line-height: 1;
            margin: 0;
            padding-bottom: 20px;
        }
        h4 {
            padding: 0;
            margin: 0;
            padding-top: 15px;
            font-size: 35px;
            letter-spacing: 1px;
            line-height: 1;
        }
        p:last-child {
            font-size: 30px;
            letter-spacing: 1px;
        }
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            li {
                display: list-item;
                list-style-type: square;
                margin: 0 10px;
                padding: 0 10px;
            }
        }
        ul,
        p {
            position: absolute;
            visibility: hidden;
            opacity: 1;
        }
    }
    input[type="radio"] {
        display: block;
        position: absolute;
        top: 35px;
        right: 35px;
        &:checked~p:nth-of-type(2),
        &:checked~p:nth-of-type(3),
        &:checked~ul {
            position: static;
            visibility: visible;
            opacity: 1;
        }
        &:checked~span {
            opacity: 1;
        }
    }
    footer .wrapper {
        justify-content: flex-start;
    }
    .footer-about {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 0;
        padding-bottom: 50px;
        margin-bottom: 0;
        li {
            display: inline-block;
        }
    }
    .footer-courses {
        flex-basis: 100%;
        border-bottom: 2px solid $darkgray;
        padding-bottom: 50px;
        margin-bottom: 75px;
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

//Reflow! Reflow!
//Hamburger
@media (max-width: 800px) {
    section {
        padding: 60px;
    }
    header {
        position: relative;
    }
    div.nav-primary-logo,
    .nav-primary-contact,
    .nav-primary-login {
        width: 100%;
        text-align: center;
        flex-basis: 0;
    }
    .nav-primary-logo {
        margin: 20px;
    }
    .nav-primary {
        padding: 20px;
        a {
            padding: 30;
        }
        ul {
            margin: 5px;
        }
        .wrapper {
            flex-direction: column-reverse;
        }
    }
    .nav-primary-contact {
        text-align: center;
        margin-right: 0;
        a {
            padding: 30px 0 0;
        }
        li {
            padding-right: 0;
            padding-left: 10px;
        }
    }
    .nav-primary-login {
        text-align: center;
        a {
            margin: 0 0 30px;
        }
    }
    //**HAMBURGER**//
    .hero h1 {
        margin-top: 100px;
    }
    #menu,
    #menu+label {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 30px;
        display: inline-block;
        cursor: pointer;
        // &:hover {
        //     color: $green;
        // }
        &:checked~ul {
            display: block;
        }
    }
    .nav-secondary {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        // left: 15px;
        // width: 50%;
        .wrapper {
            padding: 15px;
            ;
        }
        ul {
            display: none;
            position: absolute;
            left: 15px;
            top: 50px;
            width: 50%;
            background: #fff;
            padding-left: 30px;
            box-shadow: 8px 8px 10px 0px rgba(0, 0, 1, 0.35);
        }
        li {
            width: 100%;
            padding: 20px 20px 20px 0px;
            font-size: 16px;
        }
        a {
            padding-left: 0;
        }
        a:hover,
        a:focus {
            border-bottom: 3px solid $green;
        }
        a.fa-shopping-cart:hover,
        a.fa-shopping-cart:focus,
        a.fa-search:hover,
        a.fa-search:focus {
            border-bottom: 0;
        }
    }
    //**NOT A HAMBURGER **//
    .news {
        border-top: 5px solid $lightgray;
    }
    .news-item {
        padding: 30px;
        padding-top: 330px;
        .news-image {
            right: 0;
            bottom: calc(100% - 300px);
            width: 100%;
        }
    }
    .courses li {
        margin: 0;
    }
    .features-feature {
        p {
            margin-bottom: 50px;
            font-size: 16px;
            padding-right: 0;
        }
        &::before {
            display: none;
        }
        &:nth-child(2n) {
            text-align: left;
            .svg-inline--fa {
                left: -50px;
            }
            p {
                padding: 0;
            }
        }
    }
}

//Reflow courses {
@media (max-width: 650px) {
    .courses-cards {
        display: block;
    }
    .card {
        margin-right: 0;
        width: 100%;
    }
}

//REALLY targeting cellphones now!
@media (max-width: 500px) {
    section {
        padding: 30px 15px;
    }
    .hero {
        h1 {
            font-size: 30px;
            margin-top: 30px;
        }
        .wrapper {
            margin-top: 80px;
        }
        p {
            font-size: 16px;
            margin-top: 30px;
        }
        .button {
            margin: 30px;
            font-size: 16px;
        }
    }
}