//Here I'm making adjustments to the features section which is layed out a bit delicately
@media (max-width: 1380px) {
    body {
        border: 1px solid green;
    }
    .features-wrapper {
        display: block;
    }
    .features-feature {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        p {
            padding-right: 100px;
        }
        &::before {
            top: -70px;
            left: -65px;
            z-index: -10;
        }
        &:nth-child(2n) {
            text-align: right;
            .svg-inline--fa {
                left: calc(100% - 175px);
            }
            p {
                padding-right: 0;
                padding-left: 100px;
            }
        }
    }
    .features-feature:nth-child(2n)::before {
        position: absolute;
        left: calc(100% - 185px);
    }
}

// Now we're hitting the width of the wrapper so I'm re-aligning things a little to get nice consistent margins. Also reflowing the cards and the footer.
@media (max-width: 1230px) {
    body {
        border: 1px solid red;
    }
    nav .wrapper,
    section,
    footer .wrapper,
    .final-footer .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
    .wrapper {
        width: 100%;
    }
    .card {
        width: calc((100% - 30px) / 2);
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    footer {
        .wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .footer-about {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid $darkgray;
        padding-bottom: 50px;
        margin-bottom: 75px;
        li {
            display: inline-block;
        }
    }
    .footer-courses,
    .footer-contact {
        margin-right: 75px;
        width: calc(25% - 40px);
    }
    .footer-newsletters {
        flex-basis: 350px;
        margin-right: 0;
    }
    .footer-social {
        width: 100%;
        font-size: 24px;
        ul {
            width: 100%;
        }
        svg {
            margin-right: 10px;
        }
    }
}

//drop-down for pricing section with radio buttons
//fix footer
@media (max-width: 1080px) {
    body {
        border: 1px solid yellow;
    }
    .pricing-wrapper {
        display: block;
        margin-top: 50px;
        position: relative;
    }
    .price {
        height: 130px;
        width: 130px;
        left: 0;
        top: -25px;
        opacity: 0;
    }
    .pricing-card {
        width: 100%;
        text-align: center;
        min-height: 125px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        p {
            line-height: 1;
            margin: 0;
            padding-bottom: 20px;
        }
        h4 {
            padding: 0;
            margin: 0;
            padding-top: 15px;
            font-size: 35px;
            letter-spacing: 1px;
            line-height: 1;
        }
        p:last-child {
            font-size: 30px;
            letter-spacing: 1px;
        }
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            li {
                display: list-item;
                list-style-type: square;
                margin: 0 10px;
                padding: 0 10px;
            }
        }
        ul,
        p {
            position: absolute;
            visibility: hidden;
            opacity: 1;
            transition: all 1s;
        }
    }
    input[type="radio"] {
        display: block;
        position: absolute;
        top: 35px;
        right: 35px;
        &:checked~p:nth-of-type(2),
        &:checked~p:nth-of-type(3),
        &:checked~ul {
            position: static;
            visibility: visible;
            opacity: 1;
        }
        &:checked~span {
            opacity: 1;
        }
    }
}