.features {
    .svg-inline--fa {
        color: $green;
        font-size: 30px;
        vertical-align: text-top;
        position: absolute;
        left: -50px;
    }
    h4 {
        font-size: 24px;
        position: relative;
    }
    p {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 300;
    }
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.features-feature {
    position: relative;
    z-index: 10;
    margin-left: 85px;
    width: calc((100% - 426px) / 3);
}

.features-feature::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    height: 205px;
    width: 205px;
    display: block;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    left: -90px;
    top: -30px;
}

//Took out these cool hovers because these aren't clicable & so it would be confusing!
.features-feature:hover::before {
    // transform: rotateY(180deg);
    transition: all 1s ease-out;
}