//PRIMARY NAV
.nav-primary {
    background: $darkblack;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 12px;
    min-height: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%
    }
    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    }
    a:hover {
        color: $green;
    }
    ul {
        padding: 0;
    }
    .svg-inline--fa path {
        fill: $green;
    }
    .svg-inline--fa {
        margin-right: 15px;
    }
}

.nav-primary-logo img {
    transition: 0.5s;
    height: 38px;
    width: 139px;
    &:hover {
        transform: scale(1.05);
    }
}

.nav-primary-contact {
    padding: 0;
    flex-basis: 400px;
    flex-grow: 1;
    li {
        padding-right: 40px;
    }
}

div.nav-primary-logo {
    width: 150px;
}

.nav-primary-login {
    flex-basis: 400px;
    flex-grow: 1;
    text-align: right;
    li {
        padding-left: 40px;
        .decorated::before {
            content: "|";
            left: -20px;
            color: #fff;
        }
    }
}

//SECONDARY NAV
.nav-secondary {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
    min-height: 70px;
    position: relative;
    z-index: 10;
    ul {
        min-height: 70px;
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
    }
    a {
        text-decoration: none;
        color: $darkblack;
        text-transform: uppercase;
        transition: 0.3s;
    }
    a:hover {
        color: $green;
    }
}

// HERO SECTION
.hero {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../images/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: calc(100vh - 150px);
    text-align: center;
    display: flex;
    align-items: center;
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        width: 80%;
        margin: 50px auto;
    }
}

h1 {
    margin: 0;
    font-size: 72px;
    line-height: 90px;
    font-weight: 900;
    text-transform: uppercase;
}

.button {
    background: $green;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 35px;
    margin: 50px;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    text-transform: uppercase;
    &:hover {
        background: $darkgray;
        padding: 20px 45px;
    }
}