//Make partial
//Save partial
//Delete unwanted partial.css
//Import the partial
//Save style.scss
@import "partials/setup";
@import "partials/variables";
@import "partials/header";
@import "partials/courses";
@import "partials/gallery";
@import "partials/news";
@import "partials/features";
@import "partials/pricing";
@import "partials/footer";
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
    position: relative;
}

li {
    display: inline-block;
}

div.courses {
    background: white;
}

section {
    padding: 100px 0;
    &:nth-child(even) {
        background-color: $lightgray;
        position: static;
    }
}

.lightgray {
    background-color: $lightgray;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 36px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 24px;
}

div.heading-image {
    margin: 0 auto;
    width: 70px;
    background: #fff;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        height: 2px;
        width: 35px;
        background: $green;
        display: block;
        position: absolute;
        top: 14px;
        left: -35px;
    }
    &::after {
        content: "";
        height: 2px;
        width: 35px;
        background: $green;
        display: block;
        position: absolute;
        top: 14px;
        left: 70px;
    }
}

.gallery,
.features {
    .heading-image {
        background: $lightgray;
    }
}

.lightgray {
    background: $lightgray;
}

ul {
    padding: 0;
}

input[type="radio"] {
    display: none;
}

label {
    display: none;
}

@import "partials/breakpoints";