//Make partial
//Save partial
//Delete unwanted partial.css
//Import the partial
//Save style.scss
@import "partials/setup";
@import "partials/variables";
@import "partials/header";
@import "partials/courses";
@import "partials/gallery";
@import "partials/_news";
@import "partials/footer";
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

li {
    display: inline-block;
}

section {
    padding: 100px;
    position: relative;
    // z-index: -10;
    &:nth-child(even) {
        background-color: $lightgray;
    }
}

h3 {
    font-size: 18;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 24px;
}

div.heading-image {
    margin: 0 auto;
    width: 70px;
    background: #fff;
    text-align: center;
    &::before {
        content: "";
        height: 2px;
        width: 130px;
        background: $green;
        display: block;
        position: relative;
        left: -30px;
        top: 15px;
        z-index: -10;
    }
}

.gallery,
.features {
    .heading-image {
        background: $lightgray;
    }
}