@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover,
a:focus {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav-primary {
  background: #111111;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 12px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav-primary .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
  .nav-primary a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 15px 5px; }
  .nav-primary a:hover,
  .nav-primary a:focus {
    color: #86bc42; }
  .nav-primary ul {
    padding: 0; }
  .nav-primary .svg-inline--fa path {
    fill: #86bc42; }
  .nav-primary .svg-inline--fa {
    margin-right: 15px; }

.nav-primary-logo img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 38px;
  width: 139px; }
  .nav-primary-logo img:hover, .nav-primary-logo img:focus {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.nav-primary-contact {
  padding: 0;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .nav-primary-contact li {
    padding-right: 40px; }

div.nav-primary-logo {
  width: 150px; }

.nav-primary-login {
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right; }
  .nav-primary-login li {
    padding-left: 40px; }
    .nav-primary-login li.decorated::before {
      content: "|";
      position: relative;
      left: -20px;
      color: #fff; }

.nav-secondary {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
  min-height: 70px;
  position: relative;
  z-index: 10; }
  .nav-secondary ul {
    min-height: 70px;
    margin: 0 auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px; }
  .nav-secondary a {
    text-decoration: none;
    color: #111111;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 15px; }
  .nav-secondary a:hover, .nav-secondary:focus {
    color: #86bc42; }

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.8))), url(../images/hero.jpg);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../images/hero.jpg);
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../images/hero.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: calc(100vh - 150px);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6em;
    width: 80%;
    margin: 50px auto 0; }

h1 {
  margin: 0;
  font-size: 72px;
  line-height: 1.25em;
  font-weight: 900;
  text-transform: uppercase; }

div.button {
  background: #86bc42;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 35px;
  margin: 50px;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: uppercase;
  display: inline-block; }
  div.button a {
    color: #fff;
    text-decoration: none; }
  div.button:hover, div.button:focus {
    background: #666666;
    padding: 20px 45px; }

.courses ul {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 55px 0; }

.courses li {
  margin: 0 15px; }
  .courses li:hover, .courses li:focus {
    color: #86bc42; }

.courses a {
  color: #222222;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 15px; }

.courses a:hover,
.courses a:focus {
  color: #86bc42; }

.courses-cards {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .courses-cards h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 20px; }

.card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 90px) / 4);
  border: 1px solid #e1e1e1;
  position: relative;
  padding-bottom: 75px; }
  .card a {
    padding-left: 0; }
  .card img {
    width: 100%; }
  .card:nth-child(4n) {
    margin-right: 0; }
  .card:hover, .card:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
    border: 1px solid #b7b7b7; }

.social {
  border-top: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
  .social p {
    font-weight: 500;
    font-size: 14px;
    color: #666666; }
    .social p:last-of-type {
      color: #86bc42; }
  .social .svg-inline--fa {
    margin-right: 5px; }
    .social .svg-inline--fa:last-of-type {
      margin-left: 15px; }

.prof {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 80px;
  position: relative; }
  .prof a {
    color: #86bc42; }
  .prof a:hover, .prof:focus {
    color: #b7b7b7; }
  .prof::before {
    content: "●";
    color: #b7b7b7;
    font-size: 100px;
    position: absolute;
    left: -70px;
    top: 5px; }

.profile {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.grid-object {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .grid-object:nth-of-type(3n) {
    margin-right: 0; }
  .grid-object img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .grid-object:hover, .grid-object:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
    border: 1px solid #b7b7b7;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100; }
  .grid-object:hover .plus,
  .grid-object:focus .plus {
    opacity: 1; }

.plus {
  width: 40px;
  height: 40px;
  background-color: #363636;
  border: 3px solid #b7b7b7;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  .plus p {
    margin: 0;
    padding: 0;
    weight: 700;
    font-size: 40px; }

.news-wrapper {
  margin-top: 100px; }

.news-item {
  width: 100%;
  background: #f0f2f7;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 593px;
  margin-bottom: 85px;
  min-height: 450px;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .news-item h4 {
    font-weight: 700;
    font-size: 24px;
    margin: 0; }
  .news-item .attribution {
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 0; }
  .news-item p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 70px; }
  .news-item img {
    float: left;
    margin: 0 30px 0 30px;
    position: absolute;
    top: -35px;
    left: -0px; }
  .news-item .button {
    background: #86bc42;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    padding: 16px 30px;
    margin: 0px;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    bottom: 35px;
    color: #fff;
    text-decoration: none; }
    .news-item .button:hover, .news-item .button:focus {
      background: #666666; }

.news-item.active,
.news-item:hover,
.news-item:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
  border: 1px solid #b7b7b7; }

.features .svg-inline--fa {
  color: #86bc42;
  font-size: 30px;
  vertical-align: text-top;
  position: absolute;
  left: -50px; }

.features h4 {
  font-size: 24px;
  position: relative; }

.features p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300; }

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 70px; }

.features-feature {
  position: relative;
  z-index: 10;
  margin-left: 85px;
  width: calc((100% - 426px) / 3); }

.features-feature::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  height: 205px;
  width: 205px;
  display: block;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  left: -90px;
  top: -30px; }

.features-feature:hover::before {
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.pricing-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: none;
  flex-wrap: none; }

.pricing-card {
  border: 10px solid #f0f2f7;
  background: #f0f2f7;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 140px;
  position: relative;
  text-align: center; }
  .pricing-card:last-of-type {
    margin-right: 0; }
  .pricing-card ul {
    background: white;
    color: #444;
    padding: 40px; }
  .pricing-card li {
    display: block;
    line-height: 48px; }
  .pricing-card:hover, .pricing-card:focus {
    border: 10px solid #86bc42;
    background: #86bc42;
    color: white; }
    .pricing-card:hover .price, .pricing-card:focus .price {
      background: #86bc42;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
      -webkit-transition: -webkit-transform 1s ease-out;
      transition: -webkit-transform 1s ease-out;
      -o-transition: transform 1s ease-out;
      transition: transform 1s ease-out;
      transition: transform 1s ease-out, -webkit-transform 1s ease-out; }
  .pricing-card .price {
    width: 120px;
    height: 120px;
    border: 10px solid white;
    position: absolute;
    border-radius: 100%;
    right: calc(50% - 60px);
    top: -75px;
    background: #f0f2f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 38px; }
  .pricing-card h4 {
    margin-top: 70px;
    margin-bottom: 0;
    weight: 700;
    text-transform: uppercase;
    font-size: 24px; }
  .pricing-card p {
    font-size: 14px;
    line-height: 24px; }
    .pricing-card p:last-child {
      text-transform: uppercase;
      font-weight: 700;
      margin: 24px; }

sup {
  font-size: 20px; }

footer {
  background: #222222;
  color: #f8f8f8;
  font-size: 14px;
  line-height: 24px; }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 70px 0; }
  footer a {
    color: #f8f8f8;
    text-decoration: none;
    padding: 15px 0; }
    footer a:hover, footer a:focus {
      color: #86bc42; }
  footer a.active {
    color: #86bc42; }
  footer img {
    height: 38px;
    width: 139px; }
  footer .svg-inline--fa {
    color: #86bc42; }
  footer h3 {
    font-weight: 700;
    text-align: left;
    margin-top: 0;
    margin-bottom: 28px; }
  footer form {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer form + p {
      font-size: 12px; }
  footer input {
    margin: 30px 0;
    background: #fff;
    border: 0;
    border-radius: 5px;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    padding: 15px 30px;
    min-width: 230px;
    height: 42px; }
  footer button {
    height: 42px;
    width: 60px;
    background: #86bc42;
    border: 0;
    color: #fff;
    margin-left: 5px; }
    footer button .svg-inline--fa {
      color: #fff;
      font-size: 18px; }

.footer {
  margin-right: 100px;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
  .footer:last-of-type {
    margin: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

.footer-about,
.footer-newsletters {
  width: calc((100% - 360px) / 6 * 2); }

.footer-courses,
.footer-contact {
  width: calc((100% - 360px) / 6); }

.footer-courses li,
.footer-about li,
.footer-contact li {
  display: block;
  line-height: 36px; }

.footer-courses .svg-inline--fa,
.footer-about .svg-inline--fa,
.footer-contact .svg-inline--fa {
  margin-right: 10px; }

.footer-contact {
  min-width: 160px; }
  .footer-contact p {
    padding-left: 25px;
    position: relative; }
    .footer-contact p .svg-inline--fa {
      position: absolute;
      left: 0;
      top: 5px; }

.footer-social {
  font-size: 24px; }
  .footer-social svg {
    margin-right: 20px; }
  .footer-social .fa-facebook-square {
    color: #3b5999; }
  .footer-social .fa-twitter-square {
    color: #47A9E9; }
  .footer-social .fa-google-plus-square {
    color: #CF3D35; }
  .footer-social .fa-instagram {
    color: #7E5045; }

.final-footer {
  background: #111111;
  width: 100%;
  min-height: 65px;
  color: #fff; }
  .final-footer .wrapper {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 100; }
  .final-footer ul {
    margin: 0; }
  .final-footer li {
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px; }
  .final-footer p {
    margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

li {
  display: inline-block; }

div.courses {
  background: white; }

section {
  padding: 100px 0; }
  section:nth-child(even) {
    background-color: #f0f2f7;
    position: static; }

.lightgray {
  background-color: #f0f2f7; }

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 24px; }

div.heading-image {
  margin: 0 auto;
  width: 70px;
  background: #fff;
  text-align: center;
  position: relative; }
  div.heading-image::before {
    content: "";
    height: 2px;
    width: 35px;
    background: #86bc42;
    display: block;
    position: absolute;
    top: 14px;
    left: -35px; }
  div.heading-image::after {
    content: "";
    height: 2px;
    width: 35px;
    background: #86bc42;
    display: block;
    position: absolute;
    top: 14px;
    left: 70px; }

.gallery .heading-image,
.features .heading-image {
  background: #f0f2f7; }

.lightgray {
  background: #f0f2f7; }

ul {
  padding: 0; }

input[type="radio"] {
  display: none; }

label {
  display: none; }

@media (max-width: 1380px) {
  .features-wrapper {
    display: block; }
  .features-feature {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }
    .features-feature p {
      padding-right: 100px; }
    .features-feature::before {
      top: -70px;
      left: -65px;
      z-index: -10; }
    .features-feature:nth-child(2n) {
      text-align: right; }
      .features-feature:nth-child(2n) .svg-inline--fa {
        left: calc(100% - 175px); }
      .features-feature:nth-child(2n) p {
        padding-right: 0;
        padding-left: 100px; }
  .features-feature:nth-child(2n)::before {
    position: absolute;
    left: calc(100% - 185px); } }

@media (max-width: 1230px) {
  nav .wrapper,
  section,
  footer .wrapper,
  .final-footer .wrapper {
    padding-left: 60px;
    padding-right: 60px; }
  .wrapper {
    width: 100%; }
  .card {
    width: calc((100% - 30px) / 2); }
    .card:nth-child(2n) {
      margin-right: 0; }
  footer .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-about {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #666666;
    padding-bottom: 50px;
    margin-bottom: 75px; }
    .footer-about li {
      display: inline-block;
      margin-right: 10px; }
  .footer-courses,
  .footer-contact {
    margin-right: 75px;
    width: calc(25% - 40px); }
  .footer-newsletters {
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    margin-right: 0; }
  .footer-social {
    width: 100%;
    font-size: 24px; }
    .footer-social ul {
      width: 100%; }
    .footer-social svg {
      margin-right: 10px; } }

@media (max-width: 1080px) {
  h1 {
    font-size: 60px;
    margin-top: 0px; }
  .hero {
    padding: 30px; }
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    padding-left: calc(50% + 60px);
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .news-item .news-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%; }
    .news-item img {
      top: 0;
      left: 0;
      bottom: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .grid-object {
    width: calc(50% - 30px);
    margin-right: 30px;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right; }
    .grid-object:nth-child(3n) {
      margin-right: 30px; }
    .grid-object:nth-child(2n) {
      margin-right: 0; }
    .grid-object:hover, .grid-object:focus {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .pricing-wrapper {
    display: block;
    margin-top: 50px;
    position: relative; }
  .price {
    height: 130px;
    width: 130px;
    left: 0;
    top: -25px;
    opacity: 0; }
  .pricing-card {
    width: 100%;
    text-align: center;
    min-height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px; }
    .pricing-card p {
      line-height: 1;
      margin: 0;
      padding-bottom: 20px; }
    .pricing-card h4 {
      padding: 0;
      margin: 0;
      padding-top: 15px;
      font-size: 35px;
      letter-spacing: 1px;
      line-height: 1; }
    .pricing-card p:last-child {
      font-size: 30px;
      letter-spacing: 1px; }
    .pricing-card ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center; }
      .pricing-card ul li {
        display: list-item;
        list-style-type: square;
        margin: 0 10px;
        padding: 0 10px; }
    .pricing-card ul,
    .pricing-card p {
      position: absolute;
      visibility: hidden;
      opacity: 1; }
  input[type="radio"] {
    display: block;
    position: absolute;
    top: 35px;
    right: 35px; }
    input[type="radio"]:checked ~ p:nth-of-type(2),
    input[type="radio"]:checked ~ p:nth-of-type(3),
    input[type="radio"]:checked ~ ul {
      position: static;
      visibility: visible;
      opacity: 1; }
    input[type="radio"]:checked ~ span {
      opacity: 1; }
  footer .wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .footer-about {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0;
    padding-bottom: 50px;
    margin-bottom: 0; }
    .footer-about li {
      display: inline-block; }
  .footer-courses {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    border-bottom: 2px solid #666666;
    padding-bottom: 50px;
    margin-bottom: 75px; }
    .footer-courses li {
      display: inline-block;
      margin-right: 10px; } }

@media (max-width: 800px) {
  section {
    padding: 60px; }
  .news {
    border-top: 5px solid #f0f2f7; }
  .news-item {
    padding: 30px;
    padding-top: calc(50% + 30px); }
    .news-item .news-image {
      right: 0;
      bottom: 50%;
      width: 100%; }
  .features-feature p {
    margin-bottom: 50px;
    font-size: 16px; }
  .features-feature::before {
    display: none; }
  .features-feature:nth-child(2n) {
    text-align: left; }
    .features-feature:nth-child(2n) .svg-inline--fa {
      left: -50px; }
    .features-feature:nth-child(2n) p {
      padding: 0; } }
